.catagory {
  height: 350px;
  /* befor width:350px */
  width: 23.2vw;
  /* margin-left: 10px; */
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  
}

.catagory img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}

.catagory a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.catagory h2,
.catagory p {
  padding: 15px;
  margin-left: 15px;
}

.catagory p {
  /* ////// */
  position: absolute;
  bottom: 0px;
  /* /////// */
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.catagory__container {
  width: 90vw;
  position: relative;
  margin: 0 auto;
  margin-top: -20%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* place-items: center; */
  gap: 10px;

  flex-wrap: wrap;
    justify-content: center; 
}

/* @media screen and (max-width: 576px) {
  .header__container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower__container li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
} */
