.payment__header{
    padding:20px;
    text-align: center;
    font-size:24px;
    background-color: rgb(234,237,237);
}

.payment{
    padding: 30px;
}

.flex{
    display:flex;
    gap:60px;
    padding:30px;
}
.flex.h3{
    min-width: 300px;
}
.flex img{
    width:180px !important;
}

.flex div{
    height:auto !important;
}

.payment__card__container{
    max-width: 350px;
    width: 100%;
}

/* .payment__card__details{
    font-size: 20px;
} */

.payment__price > div{
    display: flex;
    font-size: 16px;
    gap: 10px;
}

.payment__card__details button{
margin-top: 15px;
width: 100%;
border: none;
border-radius: 5px;
background-color:var(--primary-color);
padding: 8px 10px;
cursor:pointer;
}

.payment__card__details button:hover{
    background-color:var(--primary-shade)
}

@media screen and (max-width: 760px) {
    .flex{
        flex-direction: column;
    }
    
}